li.selected{
    background-color: #CAFFEE;
    color: #BADBEF;
}

main{
    display : inline-block;
    width : 75%;
    height : 40em;
    margin: 5px;
}

aside{
    display : inline-block;
    width : 15%;
    height : 40em;
    margin: 5px;
}

pre{
    border-width: medium;
    border-color: #000000;
    background-color: #D0D0D0;
}
